{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.png' %}{% endblock %}

{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículum</span>
{% endblock %}

{% block content %}
<div class="row project">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/django.png' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">Web Personal</h2>   
        <p>Proyecto Web Personal en Django 2.2.6 con un backend robusto y panel de administrador dinamico, para gestionar proyector desde una base de datos</p>
        <!-- <p><a href="http://google.com">Más información</a></p> -->
    </div>
</div>
    <!-- Proyecto -->
<div class="row project">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/CFG.png' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">Code for Good</h2>   
        <p>Proyecto en NODE JS para registro, postulacion, publicacion en un site de chicas en tecnologia creado en la hackathon de J.P.Morgan en el año 2019 obteniendo el segundo puesto.</p>
        <!-- <p><a href="http://google.com">Más información</a></p> -->
    </div>
</div>
{% endblock %}